{:mvn/repos
 {"vendredi" {:url "https://repository.hellonico.info/repository/hellonico/"}}
 :aliases
 {:ok {:main-opts ["-m" "opencv4.ok"]}
  :simple {:main-opts ["-m" "opencv4.simple"]}
  :video {:main-opts ["-m" "opencv4.video"]}
  :youtube {:main-opts ["-m" "opencv4.youtube"]}}
 :deps {origami {:mvn/version "{{version}}"}
        origami/filters {:mvn/version "{{version-filters}}"}
        origami/sources {:mvn/version "{{version-sources}}"}

 	; uncomment to use only the binary for your platform
 	; origami {:mvn/version "{{version}}" :exclusions [opencv/opencv-native]}
 	; opencv/opencv-native$osx_64 {:mvn/version "{{version}}"}
 	; opencv/opencv-native$linux_64 {:mvn/version "{{version}}"}
 	; opencv/opencv-native$windows_64 {:mvn/version "{{version}}"}
        }}