{:mvn/repos
 {"vendredi" {:url "https://repository.hellonico.info/repository/hellonico/"}}
 :deps {origami {:mvn/version "{{version}}"}
        origami/filters {:mvn/version "1.11"}
        origami/sources {:mvn/version "1.0.0"}

 	; uncomment to use only the binary for your platform
 	; origami {:mvn/version "{{version}}" :exclusions [opencv/opencv-native]}
 	; opencv/opencv-native$osx_64 {:mvn/version "{{version}}"}
 	; opencv/opencv-native$linux_64 {:mvn/version "{{version}}"}
 	; opencv/opencv-native$windows_64 {:mvn/version "{{version}}"}
        }}